.icon {
	cursor: pointer
}

.ant-btn {
	/*width: 100%*/
}

#app {
	max-width: 1180px;
	margin: 0 auto;
}

.add-table_btn {
	margin-top: 20px;
	margin-bottom: 50px
}

.add-task_btn {
	margin-top: 20px
}

.w-btn {
	width: 100%
}

.hover {
	cursor: pointer
}


.task_item {
	display: flex;
	justify-content: space-between;
}

.task_item__btns {
	display: flex;
}


.task_item__btns .anticon {
	margin: 0 4px
}

.form input {
	margin-bottom: 15px;
}

.form textarea {
	margin-bottom: 25px;
}